<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
         {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="assets/css/app.css">



    </head>
     <body>


       {% block header %}

          <nav>
            <div class="logo">
                {# <img src="../img/logo-lumiere.png" alt="logo"> #}
            </div>

            <ul>
                <li><a class="{% if app.request.get('_route') == 'app_Home' %}active{% endif %}" href="{{ path('app_Home') }}">Accueil</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <li><a class="{% if app.request.get('_route') == 'app_lamp' %}active{% endif %}" href="{{ path('app_lamp') }}">Créer des Lampes</a></li>
                {% endif %}
                <li><a class="{% if app.request.get('_route') == 'app_galerie' %}active{% endif %}" href="{{ path('app_galerie') }}">Galerie de produit </a></li>
                <li><a class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}">Login</a></li>
                <li><a class="{% if app.request.get('_route') == 'app_inscription' %}active{% endif %}" href="{{ path('app_inscription') }}">s'inscrire</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <li><a class="{% if app.request.get('_route') == 'app_logout' %}active{% endif %}" href="{{ path('app_logout') }}">Logout</a></li>
                {% endif %}

            </ul>
        </nav>

        {% endblock %}
        {% block main %}

        {% endblock %}
        <!--//////////////////////////////////// parti footer //////////////////////////////////////////-->
       {% block footer %}
            <footer>
                <section class="footer1">
                    <div class="logo"></div>
                    <ul class="nav-links">
                        <li><a class="{% if app.request.get('_route') == 'app_Home' %}active{% endif %}" href="{{ path('app_Home') }}">Accueil</a></li>
                        <li><a class="{% if app.request.get('_route') == 'app_galerie' %}active{% endif %}" href="{{ path('app_galerie') }}">Galerie de produit </a></li>
                        <li><a class="{% if app.request.get('_route') == 'app_contacter' %}active{% endif %}" href="{{ path('app_contacter') }}">Contact </a></li>

                    </ul>
                </section>
                <section class="footer2">
                    <div id="youremail">
                        
                        <ul>
                            <h4>NEWSLETTER</h4>
                            <li>
                                <input type="text" id="nameemail2" placeholder="Your email address">
                            </li>
                        </ul>
                    </div>
                    <ul class="follow">
                        <h4>FOLLOW US:</h4>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </section>
                <section class="footer3">
                    <p>&copy; 2025 All Rights Reserved.</p>
                </section>
            </footer>
{% endblock %}


    </body>
</html>
