{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block main %}
    <h1>Contactez l'administrateur</h1>

    {{ form_start(contactForm) }}
        <div class="form-group">
            {{ form_label(contactForm.name, 'Nom') }}
            {{ form_widget(contactForm.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.name) }}
       
            {{ form_label(contactForm.email, 'Email') }}
            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.email) }}
        </div>

        <div class="form-group">
            {{ form_label(contactForm.message, 'Message') }}
            {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'rows': 5}}) }}
            {{ form_errors(contactForm.message) }}
        </div>

        <button type="submit" class="btn-contact">Envoyer</button>
    {{ form_end(contactForm) }}
{% endblock %}
